

.backgroundImgDiv {
  display: flex;
  flex-direction: column;
  align-items: center; /* Changed from 'align-self' to 'align-items' */
  justify-content: center; /* Changed from 'justify-self' to 'justify-content' */
  height: fit-content; /* Set the height to 100% of the viewport height */
  /* background-image: url('/nnnh.jpg');
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed;  */
  /* background-repeat: no-repeat;  */
}


  
  /* .backgroundImgDiv{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    
    background-image: url('../images/footer\ bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
} */


.bgg{
  /* border: 2px solid brown; */
  width: inherit;
  height: inherit;
  
  z-index: 1;

  /* margin-bottom: 1000px; */

  padding-bottom: 0;
  
}

.zz{
  z-index: 3;
  /* border: 3px solid green;  */
  width: 100%;
}

.zUpper{

  display: flex;
  align-content: center;
  justify-content: center;
   /* border: 3px solid red;  */
  /* z-index: 3; */
  display: flex;
  
}

.itemZ{
  position: absolute;
}
.bgg1{
  width: inherit;
  height: inherit;
  
}