.follow{
    color: white;
    text-align: center;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.iconsFooter_img img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    align-self: center;
    justify-self: center;
  
   
}   
.mail{
    color: rgb(11, 2, 2);
}
.sign{
    padding-top: 10px;
}

.fooImg{
    border: 1px solid  rgb(234,147,30);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    /* background-color: black; */
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 10px;

}
.iconsFooter_img{
    display: flex;
    flex-direction: row;
    /* border: 1px solid orange; */
    justify-content: center;
    align-content: center;

}

.follow  h3{
     margin-top: 70px;
}



/* Style buttons */
.btnfollow {
    /* background-color: linear-gradient(to right, rgb(234,147,30), rgb(250,52,5)); Blue background */
    background: linear-gradient(to right, rgb(234,147,30), rgb(250,52,5));
    border:none;
    border-radius: 3px;
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; 
  }
  .input_plus_btn{
    color: white;
  }
  .mail{
    background-color: white;

  }


  .input_plus_btn  img{
  height: 25px;
  align-self: center;
  justify-self: center;

  }


.input_plus_btn::placeholder {
    text-align: center;
    
    }

.line{
    margin-top: 50px;
    height: 2px;
    background-color: rgb(142,142,143);
}
    
  