.weBuild{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    /* border:  3px solid yellow; */
    padding-left: 10px;
    
}

.card1{
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    margin-top: 13px;
    border: 0.003px solid rgb(87, 86, 86);
}

.borderCard{
/* border-top: 2px solid; */
border-bottom: 7px solid; 
border-image: linear-gradient(to right, rgb(234, 147, 30), rgb(250, 52, 5));
border-image-slice: 1; 
/* border-radius: 10px; */
/* border-bottom-left-radius: 50px; 
border-bottom-right-radius: 50px;  */
height: 280px;

   
}

.cardImage{
    width: 50px;
    height: 50px;
}

.stars{
    width: 75px;
    height: 16px;
}

.weBuild2{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* border: 0.003px solid rgb(87, 86, 86); */
padding-top: 40px;

}

#para{
    color:rgba(181, 172, 172, 0.774);
    font-size: small;
}

.weBuildText{
    color:rgba(181, 172, 172, 0.774);
    font-size: small;
    padding-top: 20px;
}

.webuild_sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    /* border:  1px solid red; */
  

}

.left{
    height:370px;
    margin-top: 160px;
    align-items: center;
}

@media screen  and (max-width:600px){
    .left{
        display: none;
    }
}
.pp{
    padding-left: 20px;
    padding-top: 40px;
}
.stars{
    padding-left: 20px;
    padding-bottom: 40px;
    align-content: center;
    align-self: center;
}
.star{
    padding-left: 10px;
    
    align-content: center;
    align-self: center;
}
#paras{
    color:rgb(207, 205, 205);
    font-size: x-small
}
.text{
    font-size: 30px;
    padding-top: 40px;
}
