@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~bootstrap/dist/css/bootstrap.min.css"; 
/* another */
@import "./css/another.css";
@import"./css/boost.css";
@import "./css/copyright.css";
@import "./css/expert.css";
@import "./css/follow.css";
@import "./css/form.css";
@import "./css/getInTouch.css";
@import "./css/header.css";
 @import "./css/main.css"; 
 @import "./css/mainContainer.css"; 
@import "./css/services.css";
@import "./css/Sponsor.css";
 @import "./css/topContainer.css"; 
@import "./css/webuild.css";
@import "./css/backgroundImgDiv.css";